*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 100px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(3, 20, 20);
    background-size: 50;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texte1,.texte2,.texte3{
   
    background-color: whitesmoke;
    border: 2px solid darkslategray;
    padding: 50px;
    text-align: center;
}
.texte4{
    margin: 10;
    font-size: 25px;
}
.presentation{
    margin: 10;
    background-color: rgb(165, 202, 232);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.couleurs{
    margin: 10;
    background-color:rgb(225, 219, 135);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    *{
        font-size:75%;
    }
    .texte1, .texte2, .texte3, .texte4{
        font-size:24px;
    }
    .presentation{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
    }
    .couleurs{
        margin: 10;
        background-color:rgb(225, 219, 135);
        height:50vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    h6{
        font-size:1
    }
    img{
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}