*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 75px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(20, 3, 15);
    background-size: 50;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texte_presentation{
    background-color: whitesmoke;
    border: 2px solid darkslategray;
    padding: 50px;
    text-align: center;
}
.texte_couleurs,.texte_appli{
    padding: 50px;
    margin: 10;
    font-size: 25px;
}
.presentation{
    margin: 10;
    background-color: rgb(165, 202, 232);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.couleurs{
    padding:50px;
    background-color:rgb(173, 235, 183);
    display: flex;
    align-items: center;
    justify-content: sp;
}

.appli{
    padding:50px;
    background-color:rgb(225, 219, 135);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 900px) {
    *{
        font-size:75%;
    }
    .texte_presentation,.texte_appli,.texte_couleurs{
        font-size:24px;
    }
    .presentation{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
    }
    .couleurs{
        flex-direction:column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    h6{
        font-size:10px;
    }
    img{
        width:50%;
        align-items: center;
        justify-content: center;
    }
}